<nav class="card bg-secondary flex-column col-2">
    <div id="logo" class="card-title mx-auto">
        <span id="logo-K" class="logo-span">K</span><span id="logo-B" class="logo-span">B</span>
    </div>

    <form action="/">
        <button class="main btn-block hvr-shutter-in-horizontal rubik" type="submit">MAIN</button>
    </form>
    <form action="/about">
        <button class="about_me btn-block hvr-shutter-in-horizontal rubik" type="submit">ABOUT</button>
    </form>
    <form action="/my_work">
        <button class="my_work btn-block hvr-shutter-in-horizontal rubik" type="submit">MY WORK</button>
    </form>
    <form action="/contact">
    <button class="contact_me btn-block hvr-shutter-in-horizontal rubik" type="submit">CONTACT</button>
    </form>
</nav>