<nav class="bg-secondary navbar navbar-expand sticky-top">
    <div id="logo" class="navbar-brand">
        <span id="logo-K" class="logo-span">K</span><span id="logo-B" class="logo-span">B</span>
    </div>


    <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown dropleft">
            <div class="nav-item nav-link txt-dark menu-btn" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>

            </div>
            <div class="dropdown-menu text-center bg-secondary" aria-labelledby="navbarDropdown">
                <button class="main nav-btn hvr-shutter-in-horizontal rubik">MAIN</button>

                <button class="about_me nav-btn hvr-shutter-in-horizontal rubik">ABOUT</button>

                <button class="my_work nav-btn hvr-shutter-in-horizontal rubik">MY WORK</button>

                <button class="contact_me nav-btn hvr-shutter-in-horizontal rubik">CONTACT</button>
            </div>

        </li>
    </ul>

</nav>