<nav class="bg-secondary navbar navbar-expand sticky-top">
    <div id="logo" class="navbar-brand">
        <span id="logo-K" class="logo-span">K</span><span id="logo-B" class="logo-span">B</span>
    </div>
    <form action="/">
        <button type="submit" class="main mx-2 nav-btn hvr-underline-reveal rubik">MAIN</button>
    </form>
    <form action="/about">
        <button type="submit" class="about_me mx-2 nav-btn hvr-underline-reveal rubik">ABOUT</button>
    </form>
    <form action="/my_work">
        <button type="submit" class="my_work mx-2 nav-btn hvr-underline-reveal rubik">MY WORK</button>
    </form>
    <form action="/contact">
        <button type="submit" class="contact_me mx-2 nav-btn hvr-underline-reveal rubik">CONTACT</button>
    </form>
</nav>