<nav class="bg-secondary navbar navbar-expand sticky-top">
    <div id="logo" class="navbar-brand">
        <span id="logo-K" class="logo-span">K</span><span id="logo-B" class="logo-span">B</span>
    </div>

    <button class="main mx-2 nav-btn hvr-underline-reveal rubik">MAIN</button>

    <button class="about_me mx-2 nav-btn hvr-underline-reveal rubik">ABOUT</button>

    <button class="my_work mx-2 nav-btn hvr-underline-reveal rubik">MY WORK</button>

    <button class="contact_me mx-2 nav-btn hvr-underline-reveal rubik">CONTACT</button>
</nav>