<nav class="bg-secondary navbar navbar-expand sticky-top">
    <div id="logo" class="navbar-brand">
        <span id="logo-K" class="logo-span">K</span><span id="logo-B" class="logo-span">B</span>
    </div>

    <div class="nav-item rubik ml-3">{{page}}</div>

    <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown dropleft">
            <div class="nav-item nav-link txt-dark menu-btn" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>

            </div>
            <div class="dropdown-menu text-center bg-secondary" aria-labelledby="navbarDropdown">
                <form action="/">
                    <button type="submit" class="main nav-btn hvr-shutter-in-horizontal rubik">MAIN</button>
                </form>
                <form action="/about">
                    <button type="submit" class="about_me nav-btn hvr-shutter-in-horizontal rubik">ABOUT</button>
                </form>
                <form action="/my_work">
                    <button type="submit" class="my_work nav-btn hvr-shutter-in-horizontal rubik">MY WORK</button>
                </form>
                <form action="/contact">
                    <button type="submit" class="contact_me nav-btn hvr-shutter-in-horizontal rubik">CONTACT</button>
                </form>
            </div>

        </li>
    </ul>

</nav>

<footer id="socials" class="fixed-bottom bg-secondary flex-row text-center justify-content-around">
    <a href="https://www.linkedin.com/in/keatonbrewster/" class="hvr-pulse" target="blank"><i
            class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/Keaton-Brewster" class="hvr-pulse" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/KeatonBrewster" class="hvr-pulse" target="blank"><i class="fab fa-twitter"></i></a>
</footer>