<div class="card workCard text-center">
    <div class="card-body d-flex flex-column">
        <div class="flex-row">
            <a class="workTitle" href="#">{{project_name}}</a>
            |
            <a class="btn btn-primary" href="{{project_redirect_app}}" target="blank">
                View Site
            </a>
            |
            <a class="btn btn-primary" href="{{project_redirect_github}}" target="blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <br>
        <p>{{project_description}}</p>
    </div>
</div>