<div class="card workCardSM text-center">
    <div class="card-body">
        <a class="workTitle" href="#">{{project_name}}</a>
        <br>
        <div class="">
            <a class="btn btn-primary" href="{{project_redirect_app}}" target="blank">
                View Site
            </a>
            |
            <a class="btn btn-primary" href="{{project_redirect_github}}" target="blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <br>
        <p>{{project_description}}</p>
    </div>
</div>