:root {
  --primary: #214aff;
  --primary-light: #4164ff;
  --secondary: #e6cf09;
  --grey: #404346;
  --dark: #221d1b;
  --light: #f6f6f4;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5 * {
  font-weight: 600 !important;
}

p * {
  font-weight: 100 !important;
}

/* redefining color classes */
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-primary_light {
  background-color: var(--primary_light) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-grey {
  background-color: var(--grey) !important;
}

/* FOR LARGE AND XL SCREENS */
@media screen and (min-width: 992px) {
  /* MAIN CONTENT */
  html,
  body,
  .body {
    height: 100%;
    margin: 0;
    background-color: var(--dark);
  }
  [name="main-page"] {
    margin-top: 10rem;
    padding-right: 15em;
  }
  [name="about_me-page"],
  [name="contact_me-page"] {
    padding-right: 5em;
  }

  [name="my_work-page"] div {
    margin-top: 1rem;
  }

  #socials {
    height: 100%;
    border: none;
  }

  #socials a {
    color: var(--primary);
  }

  /* NAVBAR STUFF */
  nav {
    min-height: 100%;
    width: 10em;
    position: fixed;
    padding: 0 !important;
    margin: 0;
  }
  nav button {
    box-sizing: border-box;
    border-style: none;
    padding: 0.5rem;
    margin-top: 4rem !important;
    min-width: fit-content;
    letter-spacing: 0.25rem;
  }

  /* LOGO STYLING */
  .logo-span {
    font-size: 90pt;
    font-weight: 800;
  }

  #logo-K {
    position: relative;
    left: 10px;
  }

  #logo-B {
    position: relative;
    right: 10px;
  }

  aside {
    max-height: 100px;
  }

  /* END LARGER QUERY */
}

/* FOR MEDIUM SCREENS */
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* MAIN CONTENT */
  [name="main-page"] {
    color: var(--light);
  }
  [name="about_me-page"], [name="my_work-page"],
  [name="contact_me-page"] {
    color: var(--light);
  }

  div[name="my_work-page"] div div:hover {
    cursor: pointer;
  }

   #socials {
    position: absolute;
    /* height: 100%; */
    border: none;
    right: 2rem;
    top: 6rem;
  }
  #socials a {
    color: var(--primary);
    margin: 30% 0;
  }

  /* NAVBAR STYLING */
  nav {
    margin-bottom: 2rem;
    padding: 0 1rem !important;
  }
  nav button {
    background: var(--secondary);
    box-sizing: border-box;
    border-style: none;
    padding: 0.5rem;
    min-width: fit-content;
    letter-spacing: 0.25rem;
  }

  /* LOGO STYLING */
  .logo-span {
    font-size: 40pt;
    font-weight: 800;
  }

  #logo-K {
    position: relative;
    left: 6px;
  }

  #logo-B {
    position: relative;
    right: 6px;
  }

  /* END MED/SMALL QUERY */
}

/* MOBILE SCREEN QUERY */
@media screen and (max-width: 767px) {
  /* MAIN CONTENT */
  [name="main-page"] {
    color: var(--light);
    padding: 0 1rem;
    padding-bottom: 5rem;
  }
  [name="about_me-page"], [name="my_work-page"],
  [name="contact_me-page"] {
    color: var(--light);
    padding: 0 1rem;
    padding-bottom: 5rem;
  }

  [name="my_work-page"] div {
    margin-top: 1rem;
  }

  #socials {
    height: 60px;
    border: none;
  }
  #socials a {
    font-size: 20pt;
    color: var(--grey);
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* NAVBAR STYLING */
  nav {
    padding: 0 1rem !important;
    margin-bottom: 2rem;
  }
  nav ul {
    position: fixed;
    right: 1.25rem;
  }
  nav button {
    background: var(--secondary);
    box-sizing: border-box;
    border-style: none;
    padding: 0.5rem;
    min-width: 100%;
    letter-spacing: 0.25rem;
  }
  nav a {
    color: var(--dark);
  }
  nav a:hover,
  a:focus {
    color: var(--primary);
  }
  nav a:visited,
  a:active {
    text-decoration: none;
    color: var(--dark);
  }

  /* Styling the menu button */
  .menu-btn {
    z-index: 3;
    cursor: pointer;
    transition: all ease-out;
  }

  /* Styling the hamburger lines */
  .menu-btn .btn-line {
    border-radius: 100px;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: var(--dark);
    transition: all .2s ease-out;
  }

  /* Adding transform to the X */
  .menu-btn.close {
    transform: rotate(180deg) translate(0px, 6px);
  }

  /* Styling the three lines to make it an X */
  .menu-btn.close .btn-line:nth-child(1) {
    background-color: var(--dark);
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  /* LOGO STYLING */
  .logo-span {
    font-size: 30pt;
    font-weight: 800;
  }

  #logo-K {
    position: relative;
    left: 4px;
  }

  #logo-B {
    position: relative;
    right: 4px;
  }
}

/* BUTTON STYLING */

button:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primary) !important;
}
/* Font selectors */
.rubik {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 600;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
}

.txt-light {
  color: var(--light) !important;
}

.txt-primary {
  color: var(--primary) !important;
}

.txt-dark {
  color: var(--dark) !important;
}

.txt-shadow {
  text-shadow: 0rem 0rem 5px var(--primary-light);
}

/* Classes */

.card {
  background-color: var(--grey);
}
.inquire-form {

}
.contact_input {
  border-radius: 0;
  background-color: var(--grey);
  border-style: none;
  resize: none;
}
.contact_input:focus {
  outline-width: 0;
  background-color: var(--grey);
}
/* all ID's */

/* hide, for dynamics */
.hide {
  display: none !important;
}





/* SADIE */

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, hsla(229, 100%, 63%, 50%) 0%, hsla(229, 100%, 63%, 90%) 75%);
  background: linear-gradient(to bottom, hsla(229, 100%, 63%, 50%) 0%, hsla(229, 100%, 63%, 90%) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
