<div class="body row d-none d-lg-flex">
    {{> nav_bar_lg}}

</div>

<div class="d-none d-md-inline d-lg-none">
    {{> nav_bar_md}}

</div>

<div class="d-sm-inline d-md-none">
    {{>nav_bar_sml}}

</div>