<div class="body row d-none d-lg-flex">
    {{> nav_bar_lg}}

    <div name="main-page" class="col-9 source-code-pro txt-light">
        <h1 class="display-3 txt-shadow">
            Hey, I'm Keaton.
        </h1>
        <p>
            <br>
            <\ Full stack web developer \>.
                <br>
                <br>
                It's wonderful to see you, and I hope you feel the same
        </p>
    </div>
</div>

<div class="d-none d-md-inline d-lg-none">
    {{> nav_bar_md}}

    <div name="main-page" class="ml-5 source-code-pro txt-light">
        <h1 class="display-3 txt-shadow">
            Hey, I'm Keaton.
        </h1>
        <p>
            <br>
            <\Full stack web developer\>.
                <br>
                <br>
                It's wonderful to see you, and I hope you feel the same
        </p>
    </div>
</div>

<div class="d-sm-inline d-md-none">
    {{>nav_bar_sml}}

    <div name="main-page" class="text-center source-code-pro txt-light">
        <h1 class="display-4 txt-shadow">
            Hey, I'm Keaton.
        </h1>
        <p>
            <br>
            <\ Full stack web developer \>.
                <br>
                <br>
                It's wonderful to see you, and I hope you feel the same
        </p>
    </div>
</div>