<div class="body row d-none d-lg-flex">
    {{> nav_bar_lg}}

    <div name="my_work-page" class="col-9 source-code-pro txt-light">
        {{#if projects}}
        {{#each projects}}
        {{> work_item_lg}}
        {{/each}}
        {{/if}}
    </div>
</div>


<div class="d-none d-md-inline d-lg-none">
    {{> nav_bar_md}}

    <div class="source-code-pro no-gutters scrolling-wrapper txt-light">
        {{#if projects}}
        {{#each projects}}
        {{> work_item_md}}
        {{/each}}
        {{/if}}
        <div class="col-2">
        </div>
    </div>
</div>

<div class="d-sm-inline d-md-none">
    {{>nav_bar_sml}}

    <div class=" source-code-pro mx-auto px-1 txt-light">
        {{#if projects}}
        {{#each projects}}
        {{> work_item_sm}}
        {{/each}}
        {{/if}}
        <div class="col-2">
        </div>
    </div>
</div>