<div class="body row d-none d-lg-flex">
    {{> nav_bar_lg}}

    <div name="my_work-page" class="col-9 source-code-pro txt-light">
        <div class="row no-gutters justify-content-around">
            <div class="card text-center col-6">
                <img src="assets/03-images/PAIR.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">PAIR</h5>
                    <p>A group collaboration, PAIR is designed to give you inspiration in the
                        kitchen,
                        and behind the bar by providing you with recipes for food AND drinks, all in one
                        place
                    </p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://brandyquinlan.github.io/PAIR/" target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/brandyquinlan/PAIR" target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card text-center col-6">
                <img src="assets/03-images/WeatherDash.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Weather Dashboard</h5>
                    <p>A simple and concise app for checking the weather and saving your frequent
                        locations. Great for day-to-day use, or for planning a trip to a new location!</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/Weather-Dashboard/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Weather-Dashboard"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="card text-center col-6">
                <img src="assets/03-images/planner.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Work Day Planner</h5>
                    <p>A tool for planning out your work day, and tracking tasks hourly. Updates automatically to
                        display current hour, and hours past</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/Work-Day-Planner/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Work-Day-Planner"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card text-center col-6">
                <img src="assets/03-images/QuizCode.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Code Quiz</h5>
                    <p>A fun and simple quiz built with JavaScript as a tool to develop my skills. See how
                        high
                        you
                        can score and challenge your friends!</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/JS-based-Quiz/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/JS-based-Quiz"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>



            <!-- HOPING TO CIRCLE BACK AROUND TO THIS AT SOME POINT, BUT FOR NOW NEED TO JUST SATISFY THE HOMEWORK ASSIGNMENT -->

            <!-- <div class="card col-6 text-center bg-dark mx-auto" href="https://github.com/brandyquinlan/PAIR">
                    <figure class="effect-sadie">
                        <img src="assets/03-images/back.gif" class="card-img-top" alt="...">
                        <figcaption>
                            <h2 class="display-4">PAIR</h2>
                            <p>A group collaboration, PAIR is designed to give you inspiration in the
                                kitchen,
                                and behind the bar by providing you with recipes for food AND drinks, all in one
                                place
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="card col-6 text-center bg-dark mx-auto"
                    href="https://github.com/Keaton-Brewster/Weather-Dashboard">
                    <figure class="effect-sadie">
                        <img src="assets/03-images/back.gif" class="card-img-top" alt="...">
                        <figcaption>
                            <h2 class="display-4">Weather Dashboard</h2>
                            <p>A simple and concise app for checking the weather and saving your frequent
                                locations. Great for day-to-day use, or for planning a trip to a new location!</p>
                        </figcaption>
                    </figure>
                </div>

                <div class="card col-6 text-center bg-dark mx-auto"
                    href="https://github.com/Keaton-Brewster/JS-based-Quiz">
                    <figure class="effect-sadie">
                        <img src="assets/03-images/back.gif" class="card-img-top" alt="...">
                        <figcaption>
                            <h2 class="display-4">Code Quiz</h2>
                            <p>A fun and simple quiz built with JavaScript as a tool to develop my skills. See how
                                high
                                you
                                can score and challenge your friends!</p>
                        </figcaption>
                    </figure>
                </div> -->

        </div>
    </div>
</div>

<div class="d-none d-md-inline d-lg-none">
    {{> nav_bar_md}}

    <div name="my_work-page" class="source-code-pro txt-light">
        <div class="row no-gutters justify-content-around">
            <div class="card text-center col-6">
                <img src="assets/03-images/PAIR.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">PAIR</h5>
                    <p>A group collaboration, PAIR is designed to give you inspiration in the
                        kitchen,
                        and behind the bar by providing you with recipes for food AND drinks, all in one
                        place
                    </p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://brandyquinlan.github.io/PAIR/" target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/brandyquinlan/PAIR" target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card text-center col-6">
                <img src="assets/03-images/WeatherDash.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Weather Dashboard</h5>
                    <p>A simple and concise app for checking the weather and saving your frequent
                        locations. Great for day-to-day use, or for planning a trip to a new location!</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/Weather-Dashboard/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Weather-Dashboard"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card text-center col-6">
                <img src="assets/03-images/planner.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Work Day Planner</h5>
                    <p>A tool for planning out your work day, and tracking tasks hourly. Updates automatically
                        to
                        display current hour, and hours past</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/Work-Day-Planner/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Work-Day-Planner"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card text-center col-6">
                <img src="assets/03-images/QuizCode.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Code Quiz</h5>
                    <p>A fun and simple quiz built with JavaScript as a tool to develop my skills. See how
                        high
                        you
                        can score and challenge your friends!</p>
                    <div class="flex-row">
                        <a class="btn btn-primary" href="https://keaton-brewster.github.io/JS-based-Quiz/"
                            target="blank">
                            View Site
                        </a>
                        <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/JS-based-Quiz"
                            target="blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</div>

<div class="d-sm-inline d-md-none">
    {{>nav_bar_sml}}

    <div name="my_work-page" class="source-code-pro text-center txt-light">
        <div class="card text-center">
            <img src="assets/03-images/PAIR.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">PAIR</h5>
                <p>A group collaboration, PAIR is designed to give you inspiration in the
                    kitchen,
                    and behind the bar by providing you with recipes for food AND drinks, all in one place
                </p>
                <div class="flex-row">
                    <a class="btn btn-primary" href="https://brandyquinlan.github.io/PAIR/" target="blank">
                        View Site
                    </a>
                    <a class="btn btn-primary" href="https://github.com/brandyquinlan/PAIR" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="assets/03-images/WeatherDash.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Weather Dashboard</h5>
                <p>A simple and concise app for checking the weather and saving your frequent
                    locations. Great for day-to-day use, or for planning a trip to a new location!</p>
                <div class="flex-row">
                    <a class="btn btn-primary" href="https://keaton-brewster.github.io/Weather-Dashboard/"
                        target="blank">
                        View Site
                    </a>
                    <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Weather-Dashboard"
                        target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="assets/03-images/planner.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Work Day Planner</h5>
                <p>A tool for planning out your work day, and tracking tasks hourly. Updates automatically to
                    display current hour, and hours past</p>
                <div class="flex-row">
                    <a class="btn btn-primary" href="https://keaton-brewster.github.io/Work-Day-Planner/"
                        target="blank">
                        View Site
                    </a>
                    <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/Work-Day-Planner"
                        target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-center">
            <img src="assets/03-images/QuizCode.png" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Code Quiz</h5>
                <p>A fun and simple quiz built with JavaScript as a tool to develop my skills. See how high
                    you
                    can score and challenge your friends!</p>
                <div class="flex-row">
                    <a class="btn btn-primary" href="https://keaton-brewster.github.io/JS-based-Quiz/" target="blank">
                        View Site
                    </a>
                    <a class="btn btn-primary" href="https://github.com/Keaton-Brewster/JS-based-Quiz" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>